.contact-page
    .row
        .small-centered.medium-centered.large-centered.columns
            .contact-title.small-12.medium-7.large-7.columns
                .title.small-12.medium-5.large-5 Formulaire de contact
                i.fa.fa-envelope.right.show-for-medium-up
            .contact-social.small-12.medium-5.large-5.columns.show-for-medium-up
                ul.inline-list
                    li
                        a(href="https://www.facebook.com/Un-temps-pour-soi-762897910441998/" target="_blank")
                            img(src="img/ico_fb.png")
                    li
                        a(href="https://plus.google.com/113513925730614535678/" target="_blank")
                            img(src="img/ico_gplus.png")
                    li
                        a(href="https://fr.linkedin.com/pub/laura-schmit/b5/7a/481" target="_blank")
                            img(src="img/ico_in.png")
                    li
                        a(href="https://twitter.com/Untempspoursoi2" target="_blank")
                            img(src="img/ico_tt.png")

    .row
            .contact-description.small-12.medium-6.large-6.columns
                    p  Pour toutes demandes d'informations complémentaires, vous pouvez me contacter par <span>téléphone</span>, par <span>email</span> ou via ce <span>formulaire de contact</span> en veillant à bien remplir tous les champs requis.
                    ul.text-center
                        li
                            i.fa.fa-phone
                            a(href="tel:+33675684875") 06.75.68.48.75
                        li
                            i.fa.fa-envelope
                            a(href="mailto:untempspoursoi26@live.fr") untempspoursoi26(a)live.fr
                    p.text-center Votre demande sera traitée dans les plus brefs délais.
            .contact-form.small-12.medium-6.large-6.columns
                .form
                    .row
                        .large-6.columns
                            input(type="text" placeholder="Nom complet (requis)" autofocus)
                        .large-6.columns
                            input(type="text" placeholder="Société")
                        .large-6.columns
                            input(type="text" placeholder="Adresse email (requis)")
                        .large-6.columns
                            input(type="text" placeholder="Numéro de téléphone (requis)")
                    .row
                        .small-12.large-12.columns
                            textarea(placeholder="Ecrivez votre message ici.")
                    .row
                        a.button.small.secondary.right(href="#") Envoyer
            .contact-social.small-centered.columns.show-for-small-only
                ul.inline-list
                    li
                        a(href="https://www.facebook.com/Un-temps-pour-soi-762897910441998/" target="_blank")
                            img(src="img/ico_fb.png")
                    li
                        a(href="https://plus.google.com/113513925730614535678/" target="_blank")
                            img(src="img/ico_gplus.png")
                    li
                        a(href="https://fr.linkedin.com/pub/laura-schmit/b5/7a/481" target="_blank")
                            img(src="img/ico_in.png")
                    li
                        a(href="https://twitter.com/Untempspoursoi2" target="_blank")
                            img(src="img/ico_tt.png")
div(ng-include='\'partials/footer\'')