.row
    .formations-page.large-12.columns
        h4.subheader.text-center Mes formations s'adressent aux <span>étudiants</span> et aux <span>professionnels</span>.
        p
            .subheader <b>Un Temps pour Soi vous propose également d’enrichir vos connaissances, d’élargir votre champ de compétences et de vous soutenir dans vos études d’esthétique grâce à ses formations.</b> Différents accompagnements vous sont proposés en fonction de votre niveau scolaire, projet professionnel et situation personnelle.<br/> Sous forme de réunions d’informations, de participation au forum des métiers, en stage théorique et pratique, ou encore à travers des cours de soutien, je vous propose de vous suivre dans l’entreprise de vos projets professionnels dans le domaine de l’esthétique.
        ul
            li.small-12.large-12.columns
                .small-12.medium-2.large-2.columns.text-center
                    img(src="img/etudiants-metiers-esthetique.jpg" alt="Les étudiants recherchent des formations aux métiers de l'esthétique")
                    h5 Etudiants
                .small-12.medium-10.large-10.columns
                    p Pour les étudiants engagés dans la voie professionnelle, la réussite aux examens est capital, il s’agit là d’un choix de métiers et d’avenir qui doit se réaliser avec envie et passion. Contrairement aux idées reçues, les études d’esthétique présente un niveau théorique élevé et inattendu en Biologie, Dermatologie, Cosmétologie et Technologie appliquée;  c’est pourquoi Un temps pour soi vous propose des cours de soutien interactifs, des documents de révision et de l’aide à l’apprentissage.
            li.small-12.large-12.columns
                .small-12.medium-2.large-2.columns.text-center
                    img(src="img/professionnels-terrain-esthetique.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. ")
                    h5 Professionnels
                .small-12.medium-10.large-10.columns
                    p Les professionnels de terrain souhaitant développer leurs rayons d’action, grâce à des formations sur les soins de socio esthétique; comprendre cette médiation d’un point de vue théorique, législatif et bien entendu pratique. A travers des tchats LIVE, des réunions d’information, des formations certifiées, des cours interactifs ainsi que des fiches et documents de méthodologie.
            li.small-12.large-12.columns
                .small-12.medium-2.large-2.columns.text-center
                    img(src="img/professionnels-indépendants-esthétique.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. ")
                    h5 Professionnels
                .small-12.medium-10.large-10.columns
                    p Formations dédiées aux soins corporels; initiation au monde du massage et du toucher, modelages relaxants, soins du corps traitants. Ces disciplines s’adressent  à tous professionnels pratiquant le soin à la personne que ce soit à travers le bien-être physique et/ou psychologique. Des cours pratiques, des vidéos explicatives ainsi que des fiches techniques sont mis à votre disposition.
div(ng-include='\'partials/footer\'')