div(ng-controller="HeaderCtrl")
    top-bar
        ul.title-area.medium-3.columns
            li.name
                h1
                    a(href="#")
                        img(src="img/logo-tps.png" alt="logo Un temps pour soi")
            li(toggle-top-bar).menu-icon
                a(href="#")
                    i.fa.fa-bars.fa-lg

        .icon-bar.four-up.right.text-center
            ul
                li
                    a(ng-class="getClass('/public')" href="public").item
                        i.mdi.mdi-account-multiple
                        label Public visé
                li
                    a(ng-class="getClass('/formations')" href="formations").item
                        i.mdi.mdi-book-multiple
                        label.text-center Formations
                li               
                    a(ng-class="getClass('/profil')" href="profil").item
                        i.mdi.mdi-briefcase
                        label.text-center Mon parcours
                li
                    a(ng-class="getClass('/contact')" href="contact").item
                        i.mdi.mdi-cellphone-link
                        label.text-center Contact