div(ng-controller="HeaderCtrl")
    top-bar
        ul.title-area.medium-3.columns
            li.name
                h1
                    a(href="#")
                        img(src="img/logo-tps.png" alt="logo Un temps pour soi")
            li(toggle-top-bar).menu-icon
                a(href="#")
                    i.fa.fa-bars.fa-lg

        top-bar-section.medium-9
            ul.right
                li
                    a(ng-class="getClass('/public')" href="public").item
                        img(src="img/structures-etablissements.png" class="hide-for-small-only" alt="Etablissements, organismes et particuliers")
                        label.text-center Public visé
                li
                    a(ng-class="getClass('/formations')" href="formations").item
                        img(src="img/formations-metiers-esthetique.png" class="hide-for-small-only" alt="Formations aux métiers de l'esthétique")
                        label.text-center Formations
                li
                    a(ng-class="getClass('/profil')" href="profil").item
                        img(src="img/parcours-pse-drome.png" class="hide-for-small-only" alt="Parcours de Laura Schmit, psycho socio esthéticiennedans la Drôme")
                        label.text-center Mon parcours
                li
                    a(ng-class="getClass('/contact')" href="contact").item
                        img(src="img/informations-psycho-socio-esthetique.png" class="hide-for-small-only" alt="Informations sur la psycho socio esthétique")
                        label.text-center Contact