.auth-container
  .row
      section
        h2.text-center Se connecter
        form.form(class="large-4 large-centered columns", name='form', ng-submit='login(form)', novalidate='novalidate')
            .form-group
                input(type='email', name='email', ng-model='user.email', placeholder="email")

            .form-group
                input(type='password', name='password', placeholder="mot de passe", ng-model='user.password')
                
            .form-group.has-error
              p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
                | Veuillez entrer un email et un mot de passe.
              p.help-block {{ errors.other }}
          
            .form-group.text-center
                button.secondary(type='submit') Se connecter
            
div(ng-include='\'partials/footer\'')