.main-container
    ul.cb-slideshow
        li
            span Image 01
        li
            span Image 02
        li
            span Image 03
        li
            span Image 04
        li
            span Image 05


    .small-12.medium-5.large-3.columns.home-info.right.show-for-large-up
            .large-12.columns.home-titles
                h3.text-center Laura Schmit
                h5.text-center.subheader Psycho socio esthéticienne
                ul
                    li
                        i.fa.fa-phone
                        a(href="tel:+33675684875") 06.75.68.48.75
                    li
                        i.fa.fa-envelope
                        a(mailto="untempspoursoi26@live.fr") untempspoursoi26@live.fr
            ul.large-12.columns.social.text-center
                li
                    a(href="https://www.facebook.com/Un-temps-pour-soi-762897910441998/" target="_blank")
                        img(src="img/ico_fb.png")
                li
                    a(href="https://plus.google.com/113513925730614535678/" target="_blank")
                        img(src="img/ico_gplus.png")
                li
                    a(href="https://fr.linkedin.com/pub/laura-schmit/b5/7a/481" target="_blank")
                        img(src="img/ico_in.png")
                li
                    a(href="https://twitter.com/Untempspoursoi2" target="_blank")
                        img(src="img/ico_tt.png")

    .row
        .large-7.columns.home-text
            h1  La psycho socio esthétique
            h5.subheader Profession combinant relation d’aide et soin esthétique dans le but de soutenir toutes personnes désireuses de réappropriation corporelle et de valorisation de l’image.