.parcours-page
    .profil-band
    .row
        .large-12.columns
            .profil-titles.small-12.large-centered.columns
                    .large-centered.columns.text-center
                        figure
                            img(src="https://s3.eu-central-1.amazonaws.com/www.socioestheticienne.fr/laura-schmit-psycho-socio-estheticienne.jpg" alt="Psycho socio esthéticienne dans les Bouches du Rhône")

            section(class="ng-hide" ng-show="tabSelected=='#tab1'" id="bio1")
                .profil-bio1.small-12.large-centered.columns.left
                    .small-12.medium-8.large-8.small-centered.medium-centered.large-centered.columns
                        h3 Laura Schmit
                        h5.subheader Psycho socio esthéticienne, spécialité massages psycho-sensoriels et soins esthétiques adaptés
                        ul.profil-bio-text
                            li Esthéticienne et technicienne en soins corporels qualifiée depuis plus de 10 ans
                            li Diplômée en psycho socio esthétique depuis 2012
                            li Formatrice en esthétique, soins corporels et soins de socio-esthétique
                        p
                            li.text-center(ng-click="tabChange($event)")
                                i.fa.fa-link
                                a(href="#tab2" ng-class="{'active':tabSelected=='#tab2'}") Découvrez mon parcours
                        blockquote Intervention à titre libéral ou salarié dans les structures hospitalières, médico-sociales, associatives ou au domicile des particuliers.
                        .profil-social
                            p.text-center Rejoignez-moi sur les réseaux sociaux
                            ul.inline-list
                                li
                                    a(href="https://www.facebook.com/Un-temps-pour-soi-762897910441998/" target="_blank")
                                        img(src="https://s3.eu-central-1.amazonaws.com/www.socioestheticienne.fr/ico_fb.png" alt="Aimez la page de psycho socio esthétique de Laura Schmit sur Salon de Provence et les environs !")
                                li
                                    a(href="https://fr.linkedin.com/pub/laura-schmit/b5/7a/481" target="_blank")
                                        img(src="https://s3.eu-central-1.amazonaws.com/www.socioestheticienne.fr/ico_in.png" alt="Rejoignez Laura Schmit, professionnelle de l'esthétique et du bien-être sur son réseau professionnel !")
                                li
                                    a(href="https://plus.google.com/113513925730614535678/" target="_blank")
                                        img(src="https://s3.eu-central-1.amazonaws.com/www.socioestheticienne.fr/ico_gplus.png" alt="Découvrez les services de la psycho socio esthéticienne Laura Schmit à Aix en Provence, Marseille et les alentours !")
                                li
                                    a(href="https://twitter.com/Untempspoursoi2" target="_blank")
                                        img(src="https://s3.eu-central-1.amazonaws.com/www.socioestheticienne.fr/ico_tt.png" alt="Suivez les actualités de psycho socio esthétique de Laura Schmit dans les Bouches du Rhône !")
            section(class="ng-hide" ng-show="tabSelected=='#tab2'" id="bio2")
                .small-12.large-centered.columns
                    h4 Mon parcours
                    p Depuis toujours inspirée par mes origines brésiliennes, j'ai très tôt développé une passion pour les diversités ethniques et culturelles. Comprendre les différences de chacun est pour moi nécessaire à se comprendre soi-même. J'ai également développé un grand intérêt pour l'autre et le bien-être des personnes. Ces intérêts, ainsi qu'une ouverture d’esprit transmise par mes parents, professionnels du médical et de la psychologie, m'ont naturellement poussé vers un domaine où il m'était possible d'exprimer ces inclinaisons.
                    p Pour atteindre cet objectif, j'ai initialement intégré une formation Esthétique-Cosmétique sanctionnée par un Certificat d'Aptitudes Professionnelles ; puis désirant approfondir mes connaissances et ma technique, j'ai par la suite validé un Brevet Professionnel Esthétique-Cosmétique ainsi qu'une formation d'un an en soins corporels.<br/>Suite à plusieurs années de pratique en institut de beauté, j’ai souhaité enrichir  mon métier en me formant en psycho-socio-esthétique. Cette formation m'a permis de pouvoir aborder la personne dans sa globalité (bio psycho sociale), d'effectuer un travail méthodologique avec des objectifs thérapeutiques et d'améliorer mes prises en charge.
                    p A ce jour, mon savoir-faire professionnel révèle une parfaite maîtrise autant niveau théorique que pratique dans le domaine des soins esthétiques et corporels, et me permet d’interagir avec les personnes dans une véritable relation d’aide à travers les soins de bien-être.
                    p Aujourd’hui, professionnelle libérale dans le domaine de la psycho socio esthétique, je me consacre à la mise en place de projets de socio esthétique dans les structures et également à la formation des professionnels du soin à la personne dans les domaines de l’esthétique.
                    p(ng-click="tabChange($event)")
                        a(href="#tab1" ng-class="{'active':tabSelected=='#tab1'}") Retour
div(ng-include='\'partials/footer\'')