div(ng-include='\'partials/menucanvas\'')
div(ng-include='\'partials/header\'')
.todo-container
    .row
        .large-8.large-centered.columns
            form
                label.submit-icon(for="submit")
                    i.fa.fa-plus-square.fa-2x
                input#task(type="text", ng-model="t.text", placeholder="What do you need, Sir?", autocomplete="off")
                input#submit(type="submit", ng-click="addTodo(todo)")

    div(ng-repeat="todo in todos | orderBy: '+updated_at':true", class="row")
        .panel.large-10.large-centered.columns
            .large-1.small-2.columns
                a(ng-click="removeTodo(todo)")
                    i.fa.fa-trash-o.fa-2x
            .large-11.columns
                h4 {{todo.text}}