doctype html
html(ng-app="pfoApp" ng-controller="wrapperCtrl")
  head
    meta(name="fragment", content="!")
    base(href="/")
    title {{ seo.pageTitle }}
    meta(charset='utf-8')
    meta(name='keywords', content="psycho socio esthétique, Bouches du Rhône, valorisation de l'image, massage psycho corporel, soins esthétiques, ateliers thérapeutiques, formations esthétique, hygiène et apparence, accompagnement handicap et personnes âgées, estime de soi, image de soi, confiance en soi")
    meta(name="description" content="{{ seo.pageDescription }}")
    meta(name='author', content='{{ seo.siteAuthor}}')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // Social meta
    meta(property='og:title', content='Un Temps pour Soi - Laura Schmit')
    meta(property='og:site_name', content='Un temps pour soi')
    meta(property='og:url', content='http://www.socioestheticienne.fr')
    meta(property='og:type', content='article')
    meta(property='og:description', content='Psycho socio esthéticienne dans les Bouches du Rhône, Laura Schmit accompagne les personnes dans leur réappropriation psycho-corporelle.')
    meta(property='og:image', content='https://s3.eu-central-1.amazonaws.com/www.socioestheticienne.fr/og_img.jpg')
    meta(property='og:locale', content='fr_FR')
    meta(property='article:author', content='https://www.facebook.com/Un-temps-pour-soi-762897910441998')
    meta(property='article:publisher', content='https://www.facebook.com/Un-temps-pour-soi-762897910441998')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content='Laura Schmit psycho socio esthéticienne dans les Bouches du Rhône')
    meta(name='twitter:description', content='Psycho socio esthéticienne dans les Bouches du Rhône, Laura Schmit accompagne les personnes dans leur réappropriation psycho-corporelle.')
    meta(name='twitter:url', content='http://www.socioestheticienne.fr')
    meta(name='twitter:image' content='https://s3.eu-central-1.amazonaws.com/www.socioestheticienne.fr/tt_image.jpg')
    
    //Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70037104-1', 'auto');
      ga('send', 'pageview');

    block head

  body
    block content

