doctype html
html(ng-app="pfoApp")
  head
    base(href="/")
    title Un temps pour soi - Laura Schmit psycho socio esthéticienne
    meta(charset='utf-8')
    meta(name='keywords', content='digitalz sdk starterkit development nodejs angularjs foundation5 bourbon sass')
    meta(name='description', content='Install and create your API server and client version in seconds...')
    meta(name='author', content='digitalz')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="fragment", content="!")

    // Add minified css when production
    //link(href="css/app.min.css" rel="stylesheet")
    link(href='css/app.css' rel='stylesheet')

    link(href='libs/animate.css/animate.min.css', rel='stylesheet')
    script(src="libs/dz-assets/js/vendor/modernizr.js")

    // Grunt Live Reload >> Remove it when production <<
    script(src="http://localhost:35729/livereload.js")
    block head

  body
    block content

